@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: linear-gradient(to bottom, #99ff99, #006600);
        color: #fff; /* Text color for better contrast */
    }
</style>

<div class="text-center" style="padding: 20px;">
    <h1 class="display-4" style="color: #000066;">Welcome to Employee Management System</h1>
    <p style="color: #fff;">This is Local Host to Visit My Website <a href="http://shahzad2020cs613-001-site1.ctempurl.com/" style="color: #28a745;">Click Me</a>.</p>
</div>
